/*The "fill" property of 'svg' (below 'App') needs to match the "background-color" property of 'App'."*/
.App {
	background-color: #ededed;  /*Needs to match below.*/
	width: auto;
	height: 100vh;
}

/* Header code.****************************************************************/
svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	border: 0px;
	fill: #ededed;  /*needs to match above.*/

}
.header {
	height: 22vh;
	/* Burgundy: #800020. Umber: #635147.
		If you change the far left color, use ctrl+f on #b6a79f to find and change a dependent point.
	*/
	width: auto; /*Default value.*/
	background-image: linear-gradient(to right, #800020, #635147, #b6a79f);
	position: relative;
}

/*Logo code.*******************************************************************/
.logo {
	height: 90%;
	width: auto;
	float: left;
	padding-top: .70em;
	padding-left: .70rem;
}

/*Desktop navigation.**********************************************************/
.desktop-nav-container {
	padding-top: 1rem;
	padding-right: 4rem;
	text-align: right;
	position: relative;
}
.desktop-nav-button {
	/*top right bottom left*/
	padding: 0rem 0rem 0rem .5rem;
	display: inline;
	font-size: 25px;
	color: #E6DFDC;
}
.desktop-nav-button a:link {
	text-decoration: none;
	color: inherit;
}
.desktop-nav-button a:visited {
	text-decoration: none;
	color: inherit;
}
.desktop-nav-button a:hover {
	text-decoration: none;
	color: inherit;
}
.desktop-nav-button a:active {
	text-decoration: none;
	color: inherit;
}

/*Mobile navigation************************************************************/

/*Mobile button.*/
.mobile-button-container {
	padding-top: 1rem;
	padding-left: .25rem;
	padding-right: 1rem;
	float: right;
	position: relative;
}
.hamburger-bar {
	width: 2rem;
	height: .25rem;
	background-color: #684340;
	border-radius: 10px;
	margin-bottom: .25rem;
}

/*Mobile Menu.*/
.mobile-menu-container {
	background-color: #b6a79f;  /*#b6a79f*/
	height: inherit;
	width: inherit;
	padding-left: 2rem;
	padding-top: 1rem;
}
.mobile-menu-item a:link {
	text-decoration: none;
	color: inherit;
}
.mobile-menu-item a:visited {
	text-decoration: none;
	color: inherit;
}
.mobile-menu-item a:hover {
	text-decoration: none;
	color: inherit;
}
.mobile-menu-item a:active {
	text-decoration: none;
	color: inherit;
}

/* Body code.******************************************************************/
.my-body {
	background-color: inherit;
	height: auto;
	width: auto;  /*auto*/
}

.about-me {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.about-me-picture {
	width: 20rem;
	margin: auto;
	margin-left: 2rem;
	padding: 1rem;
}

.about-me-text {
	width: 30rem;
	margin: auto; /*auto*/
	margin-right: 2rem;
	padding: 1rem;
	color: #36302c;
	font-family: verdana;
}

.about-me-text h1 {
	font-size: 2rem;
}

.about-me-text-greeting {
	font-size: 1.1em;
}

.about-me-text-body {
	font-size: 1.09em;
}

@media only screen and (max-width: 280px) {
	.logo {
		height: 70%;
		width: auto;
		float: left;
		padding-top: .70em;
		padding-left: .70rem;
	}

	.about-me-picture {
		width: 70%;
		margin: auto;
		padding: 1rem;
	}
}
/*768 280*/
@media only screen and (max-width: 768px) {
	.about-me-picture {
		width: 20rem;
		margin: auto;
		padding: 1rem;
	}

	.about-me-text {
		width: 20rem;
		margin: auto;
		padding: 1rem;
	}

	.about-me-text h1 {
		font-size: auto;
	}

	.about-me-text-greeting {
		font-size: auto;
	}

	.about-me-text-body {
		font-size: auto;
	}
}

@media only screen and (max-width: 280px) {
	.about-me-picture {
		width: 15rem;
		margin: auto;
		padding: 1rem;
	}

	.about-me-text {
		width: 20rem;
		margin: auto;
		padding: 1rem;
	}

	.about-me-text h1 {
		font-size: auto;
	}

	.about-me-text-greeting {
		font-size: auto;
	}

	.about-me-text-body {
		font-size: auto;
	}
}
