flask==1.1.2
numpy==1.19.3 # Need to test this. Windows numpy bug. Need to add reference.
# This is for installing on linux systems
torch==1.5.1+cpu torchvision==0.6.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
# These comands are for Windows
#--find-links https://download.pytorch.org/whl/cpu/torch-1.5.1%2Bcpu-cp38-cp38-win_amd64.whl torch==1.5.1+cpu
#--find-links https://download.pytorch.org/whl/cpu/torchvision-0.6.1%2Bcpu-cp38-cp38-win_amd64.whl torchvision==0.6.1+cpu
pytorch-ignite
transformers==2.5.1
tensorboardX==1.8
tensorflow  # for tensorboardX
